---
- hosts: all
  become: yes

  vars_files:
    - vars.yml
    - secrets.yml
  handlers:
    - name: restart apache
      service: name=httpd state=restarted

  tasks:
    - name: Install required packages
      dnf:
        state: present
        name:
          - git
          - curl
          - unzip
          - httpd
          - mariadb-server
          - mariadb
          - php
          - php-common
          - php-cli
          - php-gd
          - php-curl
          - php-xml
          - php-mbstring
          - php-pdo
          - php-mysqlnd
          - php-json
          - php-opcache
          - libzip

    - name: Start and enable services
      service: "name={{ item }} state=started enabled=yes"
      with_items:
        - httpd
        - mariadb

    - name: Enable Apache rewrite module
      lineinfile:
        path: /etc/httpd/conf.modules.d/00-base.conf
        regexp: '^LoadModule rewrite_module'
        line: 'LoadModule rewrite_module modules/mod_rewrite.so'
        state: present
      notify: restart apache

    - name: Add Apache virtualhost for Drupal
      template:
        src: "templates/drupal.test.conf.j2"
        dest: "/etc/httpd/conf.d/{{ domain }}.test.conf"
        owner: root
        group: root
        mode: 0644
      notify: restart apache

    - name: Adjust OpCache memory setting
      lineinfile:
        dest: "/etc/php.ini"
        regexp: "^;?opcache.memory_consumption"
        line: "opcache.memory_consumption = 96"
        state: present
      notify: restart apache

    - name: Install Python MySQL client module
      dnf:
        name: python3-PyMySQL
        state: present

    - name: Download Composer installer
      get_url:
        url: https://getcomposer.org/installer
        dest: /tmp/composer-installer.php
        mode: 0755

    - name: Run Composer installer
      command: >
        php composer-installer.php
        chdir=/tmp
        creates=/usr/local/bin/composer

    - name: Move Composer into globally-accessible location
      command: >
        mv /tmp/composer.phar /usr/local/bin/composer
        creates=/usr/local/bin/composer

    - name: Ensure Drupal directory exists
      file:
        path: "{{ drupal_core_path }}"
        state: directory
        owner: apache
        group: apache

    - name: Check if Drupal project already exists
      stat:
        path: "{{ drupal_core_path }}/composer.json"
      register: drupal_composer_json

    - name: Create Drupal project (as current user)
      composer:
        command: create-project
        arguments: drupal/recommended-project "{{ drupal_core_path }}"
        working_dir: "{{ drupal_core_path }}"
        no_dev: true
      when: not drupal_composer_json.stat.exists

    - name: Set proper ownership for Drupal files
      file:
        path: "{{ drupal_core_path }}"
        owner: apache
        group: apache
        recurse: yes
        state: directory

    - name: Add drush to the Drupal site with Composer (as current user)
      composer:
        command: require
        arguments: drush/drush:11.*
        working_dir: "{{ drupal_core_path }}"
      when: not drupal_composer_json.stat.exists
    - name: Install Drupal
      command: >
        vendor/bin/drush si -y --site-name= "{{ drupal_site_name }}"
        --account-name=admin
        --account-pass=admin
        --db-url=mysql://{{ domain }}:{{ mysql_drupal_password }}@localhost/{{ domain }}
        --root={{ drupal_core_path }}/web
        chdir={{ drupal_core_path }}
        creates={{ drupal_core_path }}/web/sites/default/settings.php
      notify: restart apache
      become_user: apache
